5.Http/Resources/Schemas/Services/ListAndReadFilesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ListAndReadFilesRequest="http://www.tibco.com/schemas/3.Files/Resources/Schemas/Services/ListAndReadFilesRequest"
	 xmlns:Header="http://www.tibco.com/schemas/1.Schemas/Resources/Schemas/Commons/Header"
	 targetNamespace="http://www.tibco.com/schemas/3.Files/Resources/Schemas/Services/ListAndReadFilesRequest"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/1.Schemas/Resources/Schemas/Commons/Header" schemaLocation="../Commons/Header.xsd"/>
	<xs:element name="ListAndReadFilesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header:Header"/>
				<xs:element ref="ListAndReadFilesRequest:Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sourcePath" type="xs:string"/>
				<xs:element name="sourceFilePattern" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>